@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Oxygen+Mono&display=swap");

// variables //

$background-color: #dadada;
$nav-color: #424242;

// mixins //

@mixin input-styling {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  &::placeholder {
    opacity: 1;
    transition: opacity 0.25s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
  &:active::placeholder {
    opacity: 0;
  }
}

button {
  cursor: pointer;
  letter-spacing: 0.05em;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: $background-color;
  font-size: 16px;
  min-width: 320px;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 2.5em;
  margin-top: 15px;
  margin-bottom: 10px;
}

h3 {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
}

.grid {
  background: $background-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 2.75em;
  min-height: 100vh;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "weight"
    "canvas"
    "footer";
  transition: 0.5s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $nav-color;
  height: 2.75em;
  width: 100%;
  padding: 0;
  margin: 0;
  color: $background-color;
  .nav-unit-radio,
  label,
  button {
    cursor: pointer;
    font-size: 1.25em;
    border: none;
    outline: none;
    transition: 0.5s ease-out;
    &:hover {
      transition: 0.1s ease-in;
      color: white;
    }
  }
  button {
    padding: 0 10px;
    background: none;
    border: none;
    color: $background-color;
  }
  label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 1px;
    color: darkgrey;
    &:hover {
      transition: 0.1s ease-in;
      color: white;
    }
  }
  .nav-unit-radio {
    display: none;
  }
  :focus {
    transition: none;
    color: white;
  }
}

.weights-container {
  display: grid;
  grid-area: weight;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr;
  grid-auto-rows: minmax(75px, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  min-width: 0;
  justify-self: center;
  font-size: 3.5vw;
}

.total-container {
  grid-column: 1/3 span;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  color: $nav-color;
  letter-spacing: 0.1em;
  .total-input-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 20px;
    .total-input {
      @include input-styling;
      width: 100%;
      margin-left: 60px;
      font-size: 3em;
      text-align: center;
      border-bottom: 0.5px solid #777;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      transition: background 0.5s ease-in-out 0.1s;
    }
    .total-unit {
      position: relative;
      right: 0;
      font-size: 2em;
      min-width: 60px;
      text-align: left;
    }
  }
}

.plate-pairs-heading {
  padding-bottom: 8px;
}

.input-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .input {
    @include input-styling;
    width: 2em;
    text-align: center;
    font-size: 2em;
    border-radius: 2px;
    transition: background 0.5s ease-in-out 0.1s;
  }
  .input-unit {
    font-size: 0.9em;
  }
}

.barbell-canvas-container {
  grid-area: canvas;
  text-align: right;
  .barbell-canvas {
    padding: 0;
    margin: 0;
    grid-column: 1/2;
    grid-row: 2;
  }
}

.settings-panel {
  grid-area: settings;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  z-index: 0;
  background: grey;
  color: #111111;
  overflow-y: scroll;
  font-size: 3.5vw; // 'magic' scaling number
  input {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1em;
    padding: 0;
    font-size: 1.1em;
    font-weight: normal;
    border-bottom: 1px solid $nav-color;
    width: auto;
  }
  :focus {
    outline-color: black;
  }
  :target {
    outline-color: black;
  }
}

.settings-equipment {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  input {
    text-align: center;
    background: $background-color;
    border: none;
    border-radius: 1px;
    &::placeholder {
      color: black;
      opacity: 1;
      transition: opacity 0.25s;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    &:active::placeholder {
      opacity: 0;
    }
  }
  .equipment-group {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: min-content;
    padding: 0 5px;
    h4 {
      font-size: 1.25em;
      text-align: center;
      margin: 0;
      margin-bottom: 3px;
    }
    .equipment-weight-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .equipment-card {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2px;
      input {
        width: 2.5em;
      }
    }
    .equipment-unit {
      padding-left: 3px;
    }
  }
}

.settings-plates {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  select {
    background: $background-color;
    font-size: 0.8em;
    cursor: pointer;
  }
  .plate-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    width: auto;
    h4 {
      font-size: 1.25em;
      grid-column: 1/3 span;
      text-align: center;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}

.plate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .plate-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.submit-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  width: 100%;
  button {
    font-size: 0.9em;
    border: solid $background-color 2px;
    border-radius: 1px;
    transition: 0.1s ease-in-out;
    background: $background-color;
    &:hover {
      transition: none;
      text-decoration: underline $nav-color;
    }
    &:active {
      transition: none;
      color: $background-color;
      text-decoration: underline $background-color;
      background: $nav-color;
      border-color: $nav-color;
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-area: footer;
  background: $nav-color;
  min-height: 3em;
  align-self: flex-end;
  color: $background-color;
  padding: 5px 0;
  h5 {
    padding: 0;
    margin: 0;
    letter-spacing: 0.12em;
  }
  a {
    text-decoration: none;
    color: $background-color;
    transition: 0.2s ease;
    &:hover {
      color: white;
    }
    &:active:after {
      color: white;
    }
  }
  .footer-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
  }
  .footer-icon {
    height: 15px;
    padding: 0 5px;
    filter: invert(97%) sepia(0%) saturate(21%) hue-rotate(145deg) brightness(93%) contrast(89%);
  }
  .footer-repo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 800px) {
  .settings-panel {
    grid-area: settings;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 0;
    padding: 10px 0px;
    // z-index: 0;
    max-height: 45vh;
    background: grey;
    color: #111111;
    overflow-y: scroll;
    font-size: 1em;
    form {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      max-width: 800px;
    }
    input {
      font-size: 1.1em;
    }
    h4 {
      font-size: 15px;
      padding: 0;
      font-size: 1.1em;
      font-weight: normal;
      border-bottom: 1px solid $nav-color;
    }
  }

  .settings-equipment {
    height: min-content;
    .equipment-group {
      grid-template-rows: auto;
      padding-bottom: 10px;
    }
  }

  .settings-plates {
    width: 100%;
    .plate-group {
      h4 {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-height: 1080px) {
  .grid {
    background: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 2.75em;
    z-index: 1000;
    display: grid;
    align-items: flex-start;
    justify-content: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 10em;
    grid-template-areas:
      "calculator canvas"
      "footer footer";
    transition: 0.5s;
  }
  .weights-container {
    grid-area: calculator;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr;
    grid-auto-rows: minmax(125px, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    min-width: 0;
    font-size: 1.5em;
  }
  .plate-pairs-heading {
    padding-bottom: 0;
  }
  .barbell-canvas-container {
    grid-area: canvas;
    text-align: right;
    .barbell-canvas {
      padding: 0;
      margin: 0;
      grid-column: 1/2;
      grid-row: 2;
    }
  }
  .plate-group h4 {
    margin-top: 0;
  }
}
