@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

html,
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: #dadada;
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
  margin-top: 15px;
  margin-bottom: 10px;
}

h3 {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
}

.app {
  // text-align: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  grid-template-columns: 1fr;
  grid-template-rows: 2em auto auto 20em;
  grid-template-areas:
    "nav"
    "weight"
    "canvas"
    "footer";
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e0e0e0;
  background: #424242;
  height: 100%;
  padding: 0 5px;
}

.weights-container {
  display: grid;
  grid-area: weight;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin input-styling {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  &::placeholder {
    opacity: 1;
    transition: opacity 0.25s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
  &:active::placeholder {
    opacity: 0;
  }
}

.total-input-card {
  grid-column: 1/3 span;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding: 10px 0;
  .total-input {
    z-index: 0;
    @include input-styling;
    width: 100%;
    margin: 0 60px;
    font-size: 3em;
    text-align: center;
    border-bottom: 0.5px solid #777;
  }
  .total-unit {
    position: absolute;
    right: 0;
    padding-right: 20px;
    z-index: 1;
    align-self: flex-end;
    font-size: 2em;
    padding-bottom: 5px;
  }
}

.input-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .input {
    @include input-styling;
    width: 2em;
    text-align: center;
    font-size: 2em;
  }
  .input-unit {
    font-size: 0.9em;
  }
}

.barbell-canvas-container {
  grid-area: canvas;
  text-align: right;
  .barbell-canvas {
    padding: 0;
    margin: 0;
    grid-column: 1/2;
    grid-row: 2;
    // outline: solid 1px;
  }
}
